%h1 Listing articles

%table
  %tr
    %th Title
    %th Body

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.body


%br

= link_to 'New Article', new_article_path
